@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a0a00;
  color: white;
  -webkit-font-smoothing: antialiased;
}
